{% extends "layout.html" %}
{% block content %}
    <!-- <h1>HOMEPAGE</h1>
     -->
     {% for recipe, ingredients_and_info in recipes.items() %}
     <article class="media content-section">
       <div class="media-body">
         <div class="article-metadata">
          {% for categories in ingredients_and_info.1 %}
            <a class="mr-2" href="{{ url_for('tag_page', chosen_tag = categories)}}">{{ categories }}</a>
          {% endfor %}
         </div>
         <h2><a class="article-title" href="{{ url_for('recipe_page', recipe_name = recipe)}}">{{ recipe }}</a></h2>
         <p><a class="article-title" href="{{ingredients_and_info.2.0}}">{{ ingredients_and_info.2.0 }}</a></p>
       </div>
     </article>
    {% endfor %}

{% endblock content %}