{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <!-- Creating a POST request -->
        <form method="POST" action="" novalidate>
            <!-- get csrf token (private key) to help protect against attacks -->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>

                    <div class="form-group">
                        {{ form.username.label(class="form-control-label")}}
                        <!-- if the input has errors -->
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>    
                        {% else %}
                            <!-- if input is fine -->
                            {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.password.label(class="form-control-label")}}
                        <!-- if the input has errors -->
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>    
                        {% else %}
                            <!-- if input is fine -->
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-check">
                        {{ form.remember_me(class="form-check-input") }}
                        {{ form.remember_me.label(class="form-check-label") }}
                    </div>

            </fieldset>
            <div class="form-group">
                {{ form.login_button(class="btn btn-outline-info") }}
            </div>
            <h6 class="text-muted">
                <a href="{{ url_for('login_page')}}">Forgot password?</a>
            </h6>
        </form>
    </div>
    <div class="border-top pt-3">
        <h6 class="text-muted">
            Not registered? <a class="ml-2" href="{{ url_for('register_page')}}">Sign Up</a>
        </h6>
    </div>
{% endblock content %}